.container-fill-height {
  display: table;
  width: 100%;
  height: 100vh;

  .container-content-bottom,
  .container-content-middle {
    display: table-cell;
    vertical-align: middle;
  }

  .container-content-bottom {
    vertical-align: bottom;
  }
}

.container-fluid-spacious {
  @include media-breakpoint-up(sm) {
    padding-right: 40px;
    padding-left: 40px;
  }
}

div.footer-wrapper {
    width: $footer-background-width;
    height: $footer-background-height;
    background-image: $footer-background-image;
    background-size: $footer-background-size;
    margin-top: $footer-background-margin;
    border-top: $footer-background-border;
    border-bottom: $footer-background-border;
}

div.subfooter-wrapper {
    margin-top: $subfooter-margin;
    word-spacing: $subfooter-word-spacing;
    color: $gray;
}

footer .card.bg-faded {
  background-color: rgba(30,33,39, 0.8);
}

footer .icon-rocket {
  font-size: 150%;
}

footer .card-block {
  font-size: 140%;
  font-weight: bold;
  color: #898b9b;
}

footer .card-block .left-section {
  padding-right: 1em;
}

footer .card-block .right-section {
  padding-left: 1em;
}

footer .card-block a {
  color: #898b9b;
}
