{% extends "column_single.html" %}

{% block main_column %}
<p>
  This is a blog and general resource for reading about, exploring, and
  learning to code for the starships of the future. The focus is placed on
  the reliability and fault-tolerance in software systems required when lives
  and essential communications are at stake.
</p>

<p>
  While language agnostic in general, initially focus will be placed on the
  programming languages of the Erlang ecosystem. This is primarily due to the
  fact that these languages (often called BEAM languages, named after the
  Erlang virtual machine) meet the following requirements:
</p>
<ul>
  <li>
    Have decades of proven production deployments supporting billions of
    users
  </li>
  <li>
    Have a concept of and patterns for working with systems of systems
  </li>
  <li>
    Support dependencies between components (child/parent relationships)
    and offer various pre-defined strategies for autoamtically restarting
    critical systems
  </li>
  <li>
    Native support for hot-code reloading, allowing systems to be updated
    without downtime
  </li>
</ul>

<p>
  In addition to posts that focus on prototyping starship software systems,
  this blog offers posts on topic interest and goings-on in related fields.
</p>

<p>
  We hope your have as much fun here as we do, preparing for space travel now!
</p>
{% endblock %}
