{% extends "column_single.html" %}

{% block page_theme %}
<link href="/assets/css/theme-authors.css" rel="stylesheet">
{% endblock %}

{% block main_column %}
  {% for authdata in postsdata %}
  <a name="{{ authdata.author }}" />
  <h2 class="offset-anchor">{{ authdata.author }}</h2>
  <p>
    <ul>
    {% for postdata in authdata.posts %}
      <li>{{ postdata.monthname }}
          {{ postdata.day }},
          {{ postdata.year }} -
          <a href="{{ postdata.dstfile }}">{{ postdata.title }}</a></li>
    {% endfor %}
    </ul>
  </p>
  {% endfor %}
{% endblock %}
