{% extends "base.html" %}

{% block main_content %}
    <div class="container">
      <div class="page-header" id="banner">

        <div class="row">
          <div class="col-sm-8 blog-main">

            <h1>{{ page_data.site_title }}</h1>
            <p class="lead">{{ page_data.site_description }}</p>

            <div class="row">
              <div class="col-sm-12">
                Content forthcoming.
              </div>
            </div>

          </div>

          <div class="col-sm-3 col-sm-offset-1 blog-sidebar">

            <div class="sidebar-module sidebar-module-inset">
              <p class="social">
                <a href="/atom.xml">
                  <i class="fa fa-feed fa-lg first"></i>
                </a>
                <a href="http://twitter.com/clojang">
                  <i class="fa fa-twitter fa-lg"></i>
                </a>
                <a href="http://github.com/clojang">
                  <i class="fa fa-github fa-lg"></i>
                </a>
                <a href="http://clojang.slack.com">
                  <i class="fa fa-slack fa-lg"></i>
                </a>
                <a href="https://groups.google.com/forum/#!forum/clojang">
                  <i class="fa fa-envelope fa-lg last"></i>
                </a>
              </p>
            </div>

            <div class="sidebar-module">
              <h4>Featured</h4>
              <p>
                <a href="/">...</a>
              </p>
            </div>

            <div class="sidebar-module">
              <h4>Tags</h4>
              <p>
                {% for tag in tags %}
                <a href="/tags/#{{tag}}">{{ tag }}</a>
                {% endfor %}
              </p>
            </div>

        </div>

      </div>
    </div>
{% endblock %}
