{% extends "column_single.html" %}

{% block page_theme %}
<link href="/assets/css/theme-categories.css" rel="stylesheet">
{% endblock %}

{% block main_column %}
  <p class="lead">All previous posts are listed here by primary topic.</p>
  {% for catdata in postsdata %}
  <a name="{{ catdata.category }}" />
  <h2 class="offset-anchor">{{ catdata.category }}</h2>
  <p>
    <ul>
    {% for postdata in catdata.posts %}
      <li>{{ postdata.monthname }}
          {{ postdata.day }},
          {{ postdata.year }} -
          <a href="{{ postdata.dstfile }}">{{ postdata.title }}</a></li>
    {% endfor %}
    </ul>
  </p>
  {% endfor %}
{% endblock %}
