{% extends "base.html" %}

{% block main_content %}
    <div class="container docs-content">

          {% block sidebar_column_wrapper %}
          <div id="sidebar" class="blog-sidebar">

            {% block pre_sidebar %}
            {% endblock %}

            {% block sidebar_column %}
            {% block sidebar_social %}
            <div class="sidebar-module">
              <p class="social">
                <a href="/atom.xml">
                  <span class="icon icon-rss first"></span>
                </a>
                <a href="https://twitter.com/starshiptools">
                  <span class="icon icon-twitter"></span>
                </a>
                <a href="https://twitter.com/StarshipTools/lists/starship-initiatives">
                  <span class="icon icon-twitter-with-circle"></span>
                </a>
                <a href="http://github.com/starship-hackers">
                  <span class="icon icon-github"></span>
                </a>
                <a href="http://starship-hackers.slack.com">
                  <span class="icon text">#</span>
                </a>
                <a href="https://groups.google.com/forum/#!forum/starship-hackers">
                  <span class="icon icon-mail last"></span>
                </a>
              </p>
            </div>
            {% endblock %}

            {% block sidebar_featured %}
            <div class="sidebar-module">
              <h4>Featured</h4>
              <p>
                <a href="/archives/2017-03/19-230216/blog-infrastructure-update.html">Blog Infrastructure Update</a>
              </p>
            </div>
            {% endblock %}

            {% block sidebar_site_categories %}
            <div class="sidebar-module">
              <h4>Categories</h4>
              <p>
                {% for cat in cats %}
                <a href="/categories.html#{{ cat }}">{{ cat }}</a>
                {% endfor %}
              </p>
            </div>
            {% endblock %}

            {% block sidebar_site_tags %}
            <div class="sidebar-module">
              <h4>Tags</h4>
              <p>
                {% for tag in tags %}
                <a href="/tags.html#{{ tag }}">{{ tag }}</a>
                {% endfor %}
              </p>
            </div>
            {% endblock %}

            {% block post_sidebar %}
            {% endblock %}
          {% endblock %}

        </div>
        {% endblock %}

        <div class="content">
        {% block main_column_wrapper %}
        {% block main_column %}
        {% endblock %}
        {% endblock %}
        </div>

  </div>
{% endblock %}
