{% extends "column_double.html" %}

{% block main_column_wrapper %}
  <div class="row">
    <div class="col-sm-12">

      <div class="headliner card bg-faded">
        <div class="card-block">

          <h2>
            <a href="/{{ headliner.dstfile }}">{{ headliner.title }}</a>
          </h2>
          {% if headliner.subtitle %}
            <h4>{{ headliner.subtitle }}</h4>
          {% endif %}
          {% if headliner.excerpt %}
            <h3>{{ headliner.excerpt|safe }}</h3>
          {% endif %}
          <div class="row metadata">
            <div class="col-sm-4">
              <p><span class="key">Posted:</span>
                 <span class="value">{{ headliner.datestamp }}</span>
               </p>
            </div>
            <div class="col-sm-4">
              <p><span class="key">Author:</span>
                 <span class="value">{{ headliner.author }}</span>
               </p>
            </div>
            <div class="col-sm-4">
              <p><span class="key">Category:</span>
                 <span class="value">{{ headliner.category }}</span>
               </p>
            </div>
          </div>

        </div>
      </div>

        {% for row in headlines %}
        <div class="row row-full-height">

          {% for column in row %}
          <div class="col-sm-6">

            <div class="card bg-faded subheadliner">
              <div class="card-block">

                <h2>
                  <a href="{{ column.dstfile }}">{{ column.title }}</a>
                </h2>
                {% if column.subtitle %}
                  <h4>{{ column.subtitle }}</h4>
                {% endif %}
                {% if column.excerpt %}
                  <h3>{{ column.excerpt|safe }}</h3>
                {% endif %}
                <div class="metadata">
                  <p><span class="key">Date:</span>
                      <span class="value">{{ column.datestamp }}</span></p>
                  <p><span class="key">Author:</span>
                      <span class="value">{{ column.author }}</span></p>
                  <p><span class="key">Category:</span>
                      <span class="value">{{ column.category }}</span></p>
                </div>

              </div>
            </div>

          </div>
          {% endfor %}

        </div>
        {% endfor %}

    </div>
  </div>
{% endblock %}
