{% extends "column_double.html" %}

{% block main_column_wrapper %}
  <div class="row">
    <div class="col-sm-12">

      <div class="headliner well">

        <h2>
          <a href="/{{ headliner.dstfile }}">{{ headliner.title }}</a>
        </h2>
        {% if headliner.subtitle %}
          <h4>{{ headliner.subtitle }}</h4>
        {% endif %}
        {% if headliner.excerpt %}
          <h3>{{ headliner.excerpt|safe }}</h3>
        {% endif %}
        <div class="row">
          <div class="col-sm-4">
            <p>Posted: {{ headliner.datestamp }} at {{ headliner.timestamp }}</p>
          </div>
          <div class="col-sm-4">
            <p>Author: {{ headliner.author }}</p>
          </div>
          <div class="col-sm-4">
            <p>Category: {{ headliner.category }}</p>
          </div>
        </div>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed augue
          urna, fringilla ac mollis sit amet, pulvinar in orci. Phasellus in
          nunc erat. Nulla euismod leo non elementum finibus. Quisque vitae
          rutrum purus. Nullam laoreet finibus tortor vitae ullamcorper. Nulla
          vestibulum ac eros in hendrerit. Suspendisse id mauris posuere,
          dapibus neque ut, cursus arcu. Integer fringilla sapien ut massa
          mollis elementum. Proin at dui velit. Nunc non dapibus ipsum.
          Suspendisse nec diam tellus. Etiam quis lobortis urna. Donec posuere
          erat nec porttitor tincidunt. Orci varius natoque penatibus et
          magnis dis parturient montes, nascetur ridiculus mus. Integer ut
          magna odio.
        </p>
        <p>
          Duis massa tortor, aliquet quis dolor ullamcorper, semper vulputate
          odio. Etiam non erat in lacus tristique varius. Etiam ut faucibus
          ante, posuere mollis diam. Ut ornare turpis consequat, viverra orci
          non, egestas dolor. Phasellus in ex sed leo ornare molestie nec sed
          sem. Sed consequat molestie gravida. Aliquam vitae augue vitae risus
          placerat eleifend sit amet eu arcu. Morbi bibendum orci at nisi
          bibendum suscipit. Phasellus tempus tortor commodo ligula viverra
          accumsan. Cras sodales dignissim sollicitudin. Cras sit amet sapien
          a nunc tincidunt rhoncus. Aliquam sit amet ultricies ipsum.
          Vestibulum id quam leo. Ut vel nulla lobortis nulla hendrerit
          blandit a sed diam. Cras laoreet velit congue nisl interdum, mattis
          tincidunt lacus aliquet. Donec ut sodales elit.
        </p>

      </div>

    </div>
  </div>

  {% for row in headliness %}
  <div class="row row-full-height subheadliner">
    {% for column in row %}
    <div class="col-sm-6 well subheadliner">

        <h2>
          <a href="{{ column.url }}">{{ column.title }}</a>
        </h2>
        {% if column.subtitle %}
          <h4>{{ column.subtitle }}</h4>
        {% endif %}
        {% if column.excerpt %}
          <h3>{{ column.excerpt|safe }}</h3>
        {% endif %}
        <p>Date: {{ column.datestamp }}</p>
        <p>Author: {{ column.author }}</p>
        <p>Category: {{ column.category }}</p>

    </div>
    {% endfor %}

  </div>
  {% endfor %}
{% endblock %}
