{% extends "column_double.html" %}

{% block main_column %}
  <div class="blog-post">
    <div class="page-header">
      <h2 class="blog-post-title">{{ postdata.title }}</h2>
      {% if postdata.subtitle %}
      <p class="blog-post-subtitle">{{ postdata.subtitle }}</p>
      {% endif %}
      <div class="blog-post-meta">
        <p class="date">{{ postdata.monthname }}
                        {{ postdata.day }},
                        {{ postdata.year }}</p>
        <p class="author">by
          <a href="/authors.html#{{ postdata.author }}">{{ postdata.author }}</a>
        </p>
        {% if postdata.excerpt %}
        <p class="lead well">
          {{ postdata.excerpt|safe }}
        </p>
        {% endif %}
      </div>
    </div>
    {{ postdata.content|safe }}<span class="icon icon-rocket"></span>
  </div>

  {% if postdata.charcount > 2500 %}
  <div class="row">
    <div class="col-xs-6">
      {% if postdata.prevpost %}
      <a href="{{ postdata.prevpost }}">
        <i class="fa fa-arrow-circle-o-left fa-2x"
           aria-hidden="true"></i>
      </a>
      {% else %}
        <i class="fa fa-arrow-circle-o-left fa-2x nav-arrow-disabled"
           aria-hidden="true"></i>
      {% endif %}
    </div>
    <div class="col-xs-6 text-right">
      {% if postdata.nextpost %}
      <a href="{{ postdata.nextpost }}">
        <i class="fa fa-arrow-circle-o-right fa-2x"
           aria-hidden="true"></i>
      </a>
      {% else %}
        <i class="fa fa-arrow-circle-o-right fa-2x nav-arrow-disabled"
           aria-hidden="true"></i>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">Previous Post</div>
    <div class="col-xs-6 text-right">Next Post</div>
  </div>
  {% endif %}
  {% for line in postdata.contentbuffer %}
  <p><br/></p>
  {% endfor %}
{% endblock %}

{% block sidebar_featured %}
{% endblock %}

{% block sidebar_site_categories %}
{% endblock %}

{% block sidebar_site_tags %}
{% endblock %}

{% block post_sidebar %}
      <div class="sidebar-module">
        <h4>Category</h4>
        <p>
          <a href="/categories.html#{{postdata.category}}">{{ postdata.category }}</a>
        </p>
      </div>

      <div class="sidebar-module">
        <h4>Tags</h4>
        <p>
          {% for tag in postdata.tags %}
          <a href="/tags.html#{{tag}}">{{ tag }}</a>
          {% endfor %}
        </p>
      </div>

      <div class="sidebar-module metadata">
        <h4>Post Data</h4>
        <p><span class="key">Timestamp:</span>
           <span class="value">{{ postdata.timestamp }}</span>
        </p>
        <p><span class="key">Lines:</span>
           <span class="value">{{ postdata.linecount }}</span>
        </p>
        <p><span class="key">Words:</span>
           <span class="value">{{ postdata.wordcount }}</span>
        </p>
        <p><span class="key">Characters: </span>
           <span class="value">{{ postdata.charcount }}</span>
        </p>
      </div>

      <div class="sidebar-module">
        <h4>Neighboring Posts</h4>
        <div class="row">
          <div class="col-xs-6 post-nav">Previous</div>
          <div class="col-xs-6 post-nav">Next</div>
        </div>
        <div class="row">
          <div class="col-xs-6 post-nav">
            {% if postdata.prevpost %}
            <a href="/{{ postdata.prevpost }}">
              <i class="fa fa-chevron-circle-left fa-2x"
                 aria-hidden="true"></i>
            </a>
            {% else %}
              <i class="fa fa-chevron-circle-left fa-2x disabled"
                 aria-hidden="true"></i>
            {% endif %}
          </div>
          <div class="col-xs-6 post-nav">
            {% if postdata.nextpost %}
            <a href="/{{ postdata.nextpost }}">
              <i class="fa fa-chevron-circle-right fa-2x"
                 aria-hidden="true"></i>
            </a>
            {% else %}
              <i class="fa fa-chevron-circle-right fa-2x disabled"
                 aria-hidden="true"></i>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="sidebar-module metadata">
        <h4>Panhandling to the Stars</h4>

      </div>
{% endblock %}
