{% extends "column_single.html" %}

{% block main_column %}
  <h2>2010s</h2>
  <ul>
    <li><a href="https://en.wikipedia.org/wiki/Breakthrough_Initiatives#Breakthrough_Starshot">Breakthrough Starshot</a> - light sail</li>
    <li><a href="https://en.wikipedia.org/wiki/Project_Icarus_(interstellar)">Project Icarus</a> - fusion</li>
  </ul>

  <h2>2000s</h2>
  <ul>
    <li><a href="https://en.wikipedia.org/wiki/Project_Valkyrie">Project Valkyrie</a> - antimatter</li>
  </ul>

  <h2>1980s</h2>
  <ul>
    <li><a href="https://en.wikipedia.org/wiki/Project_Longshot">Project Longshot</a> - fusion</li>
  </ul>

  <h2>1970s</h2>
  <ul>
    <li><a href="https://en.wikipedia.org/wiki/Project_Daedalus">Project Daedalus</a> - fusion</li>
  </ul>

  <h2>1960s</h2>
  <ul>
    <li><a href="https://en.wikipedia.org/wiki/Enzmann_starship">Enzmann starship</a> - fusion</li>
  </ul>

  <h2>1950s</h2>
  <ul>
    <li><a href="https://en.wikipedia.org/wiki/Project_Orion_(nuclear_propulsion)">Project Orion</a> - fusion</li>
  </ul>
{% endblock %}
