@import "./theme/default-vars.scss";
@import "./theme/header.scss";

div.headliner.card, 
div.subheadliner.card {
  border-radius: 3px;
}

.headliner img,
.subheadliner img {
  max-width: 100%;
  padding-bottom: 0.5em;
}

.headliner img {
  border-radius: 10px;
}

.subheadliner img {
  border-radius: 5px;
}