{% extends "templates/base-2-col.html" %}

{% block page-title %}
  {{ post-data.title }}
  {% block page-subtitle %}
  {% if post-data.subtitle %}
    {{ post-data.subtitle }}
  {% endif %}
  {% endblock %}
  🚀 Starship Tools Blog
{% endblock %}

<folding-group>
  {% block google-ad-setup %}
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-2346536698286309",
      enable_page_level_ads: true
    });
  </script>
  {% endblock %}
</folding-group>

<folding-group>
  {% block page-metadata %}
  <!-- General Metadata (per-page) -->
  <meta name="author" content="{{ post-data.author }}">

  <!-- Dublic Core Metadata (per-page) -->
  <meta name="DC.title" lang="en" content="{{ post-data.title }}">
  <meta name="DC.creator" content="{{ post-data.author }}">
  <meta name="DC.subject" content="{{ post-data.category }}">
  <meta name="DC.date" content="{{ post-data.datestamp }}">
  <meta name="DC.identifier" scheme="DCTERMS.URI" content="http://starship.tools{{ post-data.url }}">
  <meta name="DCTERMS.abstract" content="{% if post-data.subtitle %}{{ post-data.subtitle|safe }}{% endif %}">

  <!-- Facebook's OpenGraph Metadata -->
  <meta property="og:site_name" content="{{ page-data.site-title }}">
  <meta property="og:title" content="{{ post-data.title }}">
  <meta property="og:url" content="http://starship.tools{{ post-data.url }}">
  <meta property="og:type" content="blog">
  <meta property="og:description" content="{% if post-data.subtitle %}{{ post-data.subtitle|safe }}{% endif %}">
  <meta property="og:image" content="http://starship.tools/{{ post-data.header-image }}">
  <meta property="article:author" content="{{ post-data.author }}">
  <meta property="article:published_time" content="{{ post-data.timestamp }}">
  <meta property="article:modified_time" content="{{ post-data.now-timestamp }}">
  <meta property="og:updated_time" content="{{ post-data.now-timestamp }}">
  <meta property="article:section" content="{{ post-data.category }}">
  {% for tag in tags %}<meta property="article:tag" content="{{ tag }}">
  {% endfor %}

  <!-- Twitter Card Metadata -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site:id" content="@ForgottenRdsMX">
  <meta name="twitter:creator:id" content="@{{ post-data.twitter }}">
  <meta name="twitter:title" content="{{ post-data.title }}">
  <meta name="twitter:url" content="http://starship.tools{{ post-data.url }}">
  <meta name="twitter:description" content="{{ post-data.excerpt-25|safe }}">
  <meta name="twitter:image" content="http://starship.tools/{{ post-data.header-image }}">
  {% endblock %}
</folding-group>

<folding-group>
  {% block pre-css %}{{ blocks.pre-css|safe }}{% endblock %}

  {% block pre-head-scripts %}{{ blocks.pre-head-scripts|safe }}{% endblock %}

  {% block post-head-scripts %}{{ blocks.post-head-scripts|safe }}{% endblock %}

  {% block head-postpends %}
   {{ blocks.head-postpends|safe }}
  {% endblock %}

  {% block post-post-scripts %}{{ blocks.post-post-scripts|safe }}{% endblock %}
</folding-group>

{% block main-column %}
<div class="blog-post">
  <div class="page-header">
    {% if post-data.header-image %}
      <img src="/{{ post-data.header-image }}" />
    {% endif %}
    <h2 class="blog-post-title">{{ post-data.title }}</h2>
    {% if post-data.subtitle %}
    <h3 class="blog-post-subtitle">{{ post-data.subtitle }}</h3>
    {% endif %}
    <div class="blog-post-meta">
      <p class="date">{{ post-data.month }}
                      {{ post-data.date.day }},
                      {{ post-data.date.year }}</p>
      <p class="author">by <a href="/authors/#{{ post-data.author }}">{{ post-data.author }}</a></p>
      {% if post-data.excerpt %}
      <p class="lead well">
        {{ post-data.excerpt|safe }}
      </p>
      {% endif %}
    </div>
  </div>
  {{ post-data.body|safe }}
  {% block article-body-ads %}{{ blocks.article-body-ads|safe }}{% endblock %}
  {% if blocks.article-body-ads %}
  <p>(Purchases from the links above help support Forgotten Roads -- if you buy something, thanks :-) Regardless, thanks for reading!)</p>
  {% endif %}
</div>

{% if post-data.char-count > 2500 %}
<div class="row">
  <div class="col-xs-6">
    {% if post-data.prev-post %}
    <a href="{{ post-data.prev-post }}">
      <i class="fa fa-chevron-circle-left fa-2x"
         aria-hidden="true"></i>
    </a>
    {% else %}
      <i class="fa fa-chevron-circle-left fa-2x disabled"
         aria-hidden="true"></i>
    {% endif %}
  </div>

  <div class="col-xs-6 text-right">
    {% if post-data.next-post %}
    <a href="{{ post-data.next-post }}">
      <i class="fa fa-chevron-circle-right fa-2x"
         aria-hidden="true"></i>
    </a>
    {% else %}
      <i class="fa fa-chevron-circle-right fa-2x disabled"
         aria-hidden="true"></i>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-xs-6">Previous Post</div>
  <div class="col-xs-6 text-right">Next Post</div>
</div>
{% endif %}
{% endblock %}

{% block sidebar-post-categories %}
<div class="sidebar-module">
  <header>
    <h3>Category</h3>
  </header>
  <div class="body">
    <p>
      <a href="/categories/#{{post-data.category}}">{{ post-data.category }}</a>
    </p>
  </div>
</div>
{% endblock %}

{% block sidebar-post-tags %}
<div class="sidebar-module tags-widget">
  <header>
    <h3>Tags</h3>
  </header>
  <div class="body">
    <ul>
      {% for tag in tags %}
      <li>
        <a href="/tags/#{{tag}}">{{ tag }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}

{% block sidebar-post-comments %}
{% if blocks.article-sidebar-comments-links %}
<div class="sidebar-module comments-widget">
  <header>
    <h3>Comments</h3>
  </header>
  <div class="body">
    Post comments can be made for this article on:
    <ul class="tales-list">
      {% block article-sidebar-comments-links %}
        {{ blocks.article-sidebar-comments-links|safe }}
      {% endblock %}
    </ul>
  </div>
</div>
{% endif %}
{% endblock %}

{% block sidebar-post-data %}
<div class="sidebar-module">
  <header>
    <h3>Post Data</h3>
  </header>
  <div class="body post-data">
    <p>Lines: {{ post-data.line-count }}</p>
    <p>Words: {{ post-data.word-count }}</p>
    <p>Characters: {{ post-data.char-count }}</p>
    </p>
  </div>
</div>
{% endblock %}

{% block sidebar-post-nav %}
<div class="sidebar-module">
  <header>
    <h3>Neighboring Posts</h3>
  </header>
  <div class="body">
    <div class="row">
      <div class="col-xs-6 post-nav">Previous</div>
      <div class="col-xs-6 post-nav">Next</div>
    </div>
    <div class="row">
      <div class="col-xs-6 post-nav">
        {% if post-data.prev-post %}
        <a href="{{ post-data.prev-post }}">
          <i class="fa fa-chevron-circle-left fa-2x"
             aria-hidden="true"></i>
        </a>
        {% else %}
          <i class="fa fa-chevron-circle-left fa-2x disabled"
             aria-hidden="true"></i>
        {% endif %}
      </div>
      <div class="col-xs-6 post-nav">
        {% if post-data.next-post %}
        <a href="{{ post-data.next-post }}">
          <i class="fa fa-chevron-circle-right fa-2x"
             aria-hidden="true"></i>
        </a>
        {% else %}
          <i class="fa fa-chevron-circle-right fa-2x disabled"
             aria-hidden="true"></i>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
