{% extends "templates/design/page-example.html" %}

{% block contained-main-content %}
      <h1>Image Credits</h1>

      <div class="row credits">
        <div class="col-md-2 col-sm-4 image">
          <img src="img/cat.png" class="img-responsive" alt="Cat">
        </div>
        <div class="col-md-4 col-sm-8 details">
          <h3>Innocence</h3>
          <div class="author">
            <span class="bold">Author:</span>
            <a href="http://500px.com/RKingston" target="_blank">
              Rochelle Kingston
            </a>
          </div>
          <div class="link">
            <span class="bold">Link:</span>
            <span>
              <a href="http://500px.com/photo/39364720" target="_blank">
                http://500px.com/photo/39364720
              </a>
            </span>
          </div>
          <div class="license">
            <span class="bold">License:</span>
            <a href="http://creativecommons.org/licenses/by/3.0/deed.en_US" target="_blank">CC BY 3.0</a>
          </div>
        </div>

        <div class="col-md-2 col-sm-4 image">
          <img src="img/hands.png" class="img-responsive" alt="Hands">
        </div>
        <div class="col-md-4 col-sm-8 details">
          <h3>The Dirt of Coal</h3>
          <div class="author">
            <span class="bold">Author:</span>
            <a href="http://500px.com/NadavYacobi" target="_blank">
              Nadav Yacobi
            </a>
          </div>
          <div class="link">
            <span class="bold">Link:</span>
            <span>
              <a href="http://500px.com/photo/30720921" target="_blank">
                http://500px.com/photo/30720921
              </a>
            </span>
          </div>
          <div class="license">
            <span class="bold">License:</span>
            <a href="http://creativecommons.org/licenses/by/3.0/deed.en_US" target="_blank">CC BY 3.0</a>
          </div>
        </div>
      </div>

      <div class="row credits">
        <div class="col-md-2 col-sm-4 image">
          <img src="img/bike.png" class="img-responsive" alt="Bike">
        </div>
        <div class="col-md-4 col-sm-8 details">
          <h3>Reserved</h3>
          <div class="author">
            <span class="bold">Author:</span>
            <a href="http://500px.com/MartinHricko" target="_blank">
              Martin Hricko
            </a>
          </div>
          <div class="link">
            <span class="bold">Link:</span>
            <span>
              <a href="http://500px.com/photo/8849012" target="_blank">
                http://500px.com/photo/8849012
              </a>
            </span>
          </div>
          <div class="license">
            <span class="bold">License:</span>
            <a href="http://creativecommons.org/licenses/by/3.0/deed.en_US" target="_blank">CC BY 3.0</a>
          </div>
        </div>

        <div class="col-md-2 col-sm-4 image">
          <img src="img/violin.png" class="img-responsive" alt="Violin">
        </div>
        <div class="col-md-4 col-sm-8 details">
          <h3>Passion</h3>
          <div class="author">
            <span class="bold">Author:</span>
            <a href="http://500px.com/MartinHricko"  target="_blank">
              Martin Hricko
            </a>
          </div>
          <div class="link">
            <span class="bold">Link:</span>
            <span>
              <a href="http://500px.com/photo/20808109" target="_blank">
                http://500px.com/photo/20808109
              </a>
            </span>
          </div>
          <div class="license">
            <span class="bold">License:</span>
            <a href="http://creativecommons.org/licenses/by/3.0/deed.en_US" target="_blank">CC BY 3.0</a>
          </div>
        </div>
      </div>

      <div class="row credits">
        <div class="col-md-2 col-sm-4 image">
          <img src="img/smartguy.png" class="img-responsive" alt="Cat">
        </div>
        <div class="col-md-4 col-sm-8 details">
          <h3>Stranger #7</h3>
          <div class="author">
            <span class="bold">Author:</span>
            <a href="http://500px.com/enthuan" target="_blank">
              Antoine Robiez
            </a>
          </div>
          <div class="link">
            <span class="bold">Link:</span>
            <span>
              <a href="http://500px.com/photo/36102156" target="_blank">
                http://500px.com/photo/36102156
              </a>
            </span>
          </div>
          <div class="license">
            <span class="bold">License:</span>
            <a href="http://creativecommons.org/licenses/by/3.0/deed.en_US" target="_blank">CC BY 3.0</a>
          </div>
        </div>
      </div>
{% endblock %}
