{% extends "templates/base-2-col.html" %}

{% block pre_sidebar %}
  <h1>Column Two</h1>
{% endblock %}


{% block main_column %}
  <h1 class="page-header">Column One</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed augue urna,
      fringilla ac mollis sit amet, pulvinar in orci. Phasellus in nunc erat.
      Nulla euismod leo non elementum finibus. Quisque vitae rutrum purus.
      Nullam laoreet finibus tortor vitae ullamcorper. Nulla vestibulum ac
      eros in hendrerit. Suspendisse id mauris posuere, dapibus neque ut,
      cursus arcu. Integer fringilla sapien ut massa mollis elementum. Proin
      at dui velit. Nunc non dapibus ipsum. Suspendisse nec diam tellus. Etiam
      quis lobortis urna. Donec posuere erat nec porttitor tincidunt. Orci
      varius natoque penatibus et magnis dis parturient montes, nascetur
      ridiculus mus. Integer ut magna odio.
    </p>
    <p>
      Duis massa tortor, aliquet quis dolor ullamcorper, semper vulputate
      odio. Etiam non erat in lacus tristique varius. Etiam ut faucibus ante,
      posuere mollis diam. Ut ornare turpis consequat, viverra orci non,
      egestas dolor. Phasellus in ex sed leo ornare molestie nec sed sem. Sed
      consequat molestie gravida. Aliquam vitae augue vitae risus placerat
      eleifend sit amet eu arcu. Morbi bibendum orci at nisi bibendum
      suscipit. Phasellus tempus tortor commodo ligula viverra accumsan. Cras
      sodales dignissim sollicitudin. Cras sit amet sapien a nunc tincidunt
      rhoncus. Aliquam sit amet ultricies ipsum. Vestibulum id quam leo. Ut
      vel nulla lobortis nulla hendrerit blandit a sed diam. Cras laoreet
      velit congue nisl interdum, mattis tincidunt lacus aliquet. Donec ut
      sodales elit.
    </p>
{% endblock %}
