{% extends "templates/base-1-col.html" %}

{% block post-css %}
<link href="https://fonts.googleapis.com/css?family=Maitree:700|Yantramanav:900&amp;subset=latin-ext&effect=vintage|decaying|destruction|distressed|distressed-wood|fragile|splintered"
          rel="stylesheet" type="text/css">
<style>
  .page-header {
    padding-bottom: 0;
  }
  div.container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
</style>
{% endblock %}

{% block content-body %}
<h3>Distressed Logos</h3>
<div class="container content">
  {% block contained-main-content %}
  <div style="padding-top: 1em;
              padding-bottom: 2em;">
  <p style="padding-top: 0.25em;
            font-size: 800%;
            font-weight: bold;">
     <span style="font-family: 'Yantramanav';
                  color: #303030;"
           class="font-effect-vintage">F<span style="font-size: 90%;">ORGOTTEN</span> R<span style="font-size: 90%;">OADS</span>
     </span><span style="font-family: 'Maitree';
                         color: #404040;
                         font-size: 92%">MX</span>
  </p>
  <p style="padding-top: 0.75em;
            font-size: 800%;
            font-weight: bold;">
     <span style="font-family: 'Yantramanav';
                  color: #303030;"
           class="font-effect-decaying">F<span style="font-size: 90%;">ORGOTTEN</span> R<span style="font-size: 90%;">OADS</span>
     </span><span style="font-family: 'Maitree';
                         color: #404040;
                         font-size: 92%">MX</span>
  </p>
  <p style="padding-top: 0.75em;
            font-size: 800%;
            font-weight: bold;">
     <span style="font-family: 'Yantramanav';
                  color: #303030;"
           class="font-effect-destruction">F<span style="font-size: 90%;">ORGOTTEN</span> R<span style="font-size: 90%;">OADS</span>
     </span><span style="font-family: 'Maitree';
                         color: #404040;
                         font-size: 92%">MX</span>
  </p>
  <p style="padding-top: 0.75em;
            font-size: 800%;
            font-weight: bold;">
     <span style="font-family: 'Yantramanav';
                  color: #303030;"
           class="font-effect-distressed">F<span style="font-size: 90%;">ORGOTTEN</span> R<span style="font-size: 90%;">OADS</span>
     </span><span style="font-family: 'Maitree';
                         color: #404040;
                         font-size: 92%">MX</span>
  </p>
  <p style="padding-top: 0.75em;
            font-size: 800%;
            font-weight: bold;">
     <span style="font-family: 'Yantramanav';
                  color: #303030;"
           class="font-effect-distressed-wood">F<span style="font-size: 90%;">ORGOTTEN</span> R<span style="font-size: 90%;">OADS</span>
     </span><span style="font-family: 'Maitree';
                         color: #404040;
                         font-size: 92%">MX</span>
  </p>
  <p style="padding-top: 0.75em;
            font-size: 800%;
            font-weight: bold;">
     <span style="font-family: 'Yantramanav';
                  color: #303030;"
           class="font-effect-fragile">F<span style="font-size: 90%;">ORGOTTEN</span> R<span style="font-size: 90%;">OADS</span>
     </span><span style="font-family: 'Maitree';
                         color: #404040;
                         font-size: 92%">MX</span>
  </p>
  <p style="padding-top: 0.75em;
            font-size: 800%;
            font-weight: bold;">
     <span style="font-family: 'Yantramanav';
                  color: #303030;"
           class="font-effect-splintered">F<span style="font-size: 90%;">ORGOTTEN</span> R<span style="font-size: 90%;">OADS</span>
     </span><span style="font-family: 'Maitree';
                         color: #404040;
                         font-size: 92%">MX</span>
  </p>
  </div>
  {% endblock %}
</div>
{% endblock %}
