{% extends "templates/base.html" %}

{% block main-content %}
    <div class="container">
      <div class="page-header" id="banner">

        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Design Page</h1>
            <p class="lead">The following are resources for FRMX designers</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="list-group table-of-contents">
              <a class="list-group-item active" href="#">Themes</a>
              <a class="list-group-item" href="/design/bootstrap-theme.html">A
                demo of the Bootstrap theme</a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="list-group table-of-contents">
              <a class="list-group-item active" href="#">Content Examples</a>
              <a class="list-group-item" href="/design/example-blog.html">An
                example blog page</a>
              <a class="list-group-item" href="/design/example-front-page.html">An
                example front page</a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="list-group table-of-contents">
              <a class="list-group-item active" href="#">Fonts</a>
              <a class="list-group-item" href="/design/font-samples.html">Samples</a>
            </div>
          </div>
        </div>

      </div>
    </div>
{% endblock %}
