@import "../variables-inverse.scss";
@import "./bootstrap/_mixins.scss";

// Page Header
$header-background-color: $brand-primary;
$header-background-image: url(/assets/images/header-back.jpg);
$header-background-size: cover;
$header-background-repeat: no-repeat;
$header-border: 1px solid black;

$header-inner-background-image: linear-gradient(to bottom, darken($brand-primary, 15%), $brand-primary);
