// generate docs css

@import "./variables-inverse.scss";
@import "./bootstrap/_mixins.scss";
@import "./custom/syntax.scss";
@import "./custom/docs.scss";

.docs-header {
  background-color: #141215;
}

.docs-example {
  background-color: transparent;
  border-color: $gray-darker;

  &.docs-example-modal,
  &.bs-example-popover {
    background-color: rgba(0,0,0,.1);
  }
}

.highlight {
  background-color: darken($body-bg, 5%);
  border: 0;

  pre code {
    color: #999;
  }
}

.docs-example .iconav {
  position: relative !important;
}

.docs-content > h2,
.docs-content > h1 {
  margin-top: 50px;
}
.docs-content > h1 + h2 {
  margin-top: 10px;
}

.docs-content {

  a {
    color: lighten($brand-primary, 20%);
  }

  a:hover {
    color: lighten($brand-primary, 30%);
    text-decoration: none;
  }

}

div.footer-wrapper {
    width: $footer-background-width;
    height: $footer-background-height;
    background-color: $footer-background-color;
    background-image: $footer-background-image;
    background-size: $footer-background-size;
    margin-top: $footer-background-margin;
    border-top: $footer-background-border;
    border-bottom: $footer-background-border;
}

div.subfooter-wrapper {
    margin-top: $subfooter-margin;
    word-spacing: $subfooter-word-spacing;
    color: $gray;
}

footer {
  padding-top: 2em;
}

footer .card.bg-faded {
  background-color: rgba(30,33,39, 0.8);
}

footer .icon-rocket {
  font-size: 150%;
}

footer .card-block {
  font-size: 140%;
  color: #898b9b;
}

footer .card-block .left-section {
  padding-right: 1em;
}

footer .card-block .right-section {
  padding-left: 1em;
}

footer .card-block a {
  color: #898b9b;
}

footer .nav-item {
  padding-right: 1em;
}
